<main id="login">
    <h1 class="big-heading">
        Log
        <span class="text-blue">in</span>
    </h1>

    <form class="form-box" action="" method="post">
        <div class="input-group">
            <label for="email" class="input-label"> Email</label>
            <input name="email" type="text" class="input-field" required>
        </div>
        <div class="input-group">
            <label for="password" class="input-label"> Password</label>
            <input name="password" type="password" class="input-field" required>
        </div>
        <input type="submit" class="btn-dark" value="Login">
    </form>
</main>