<main id="login">
    <h1 class="big-heading">
        Sign
        <span class="text-blue">Up</span>
    </h1>

    <form class="form-box" action="/auth/register" method="post">
        <div class="input-group">
            <label for="first_name" class="input-label"> First name</label>
            <input name="first_name" type="text" class="input-field" value="{{first_name}}" required>
        </div>
        <div class="input-group">
            <label for="last_name" class="input-label"> Last name</label>
            <input name="last_name" type="text" class="input-field" value="{{last_name}}" required>
        </div>
        <div class="input-group">
            <label for="handle" class="input-label"> Handle</label>
            <input name="handle" type="text" class="input-field" value="{{handle}}" required>
        </div>

        <div class="input-group">
            <label for="email" class="input-label"> Email</label>
            <input name="email" type="text" class="input-field" value="{{email}}" required>
        </div>
        <div class="input-group">
            <label for="password" class="input-label"> Password</label>
            <input name="password" type="password" class="input-field" required>
        </div>
        <div class="input-group">
            <label for="confirm_password" class="input-label"> Confirm Password</label>
            <input name="confirm_password" type="password" class="input-field" required>
        </div>
        <input type="submit" class="btn-dark" value="Sign up">
    </form>
</main>