<main id="login">
    <h1 class="big-heading">
        Update
        <span class="text-blue">profile</span>
    </h1>

    <form class="form-box" action="" method="post">
        <div class="input-group">
            <label for="name" class="input-label"> Name</label>
            <input name="name" type="text" class="input-field" required>
        </div>
        <div class="input-group">
            <label for="email" class="input-label"> Email</label>
            <input name="email" type="text" class="input-field" required>
        </div>
        <div class="input-group">
            <label for="github_account" class="input-label"> Github account</label>
            <input name="github_account" type="text" class="input-field" required>
        </div>
        <div class="input-group">
            <label for="linkedin" class="input-label"> Linkedin</label>
            <input name="linkedin" type="text" class="input-field" required>
        </div>
        <div class="input-group">
            <label for="facebook" class="input-label"> Facebook</label>
            <input name="facebook" type="text" class="input-field" required>
        </div>
        <div class="input-group">
            <label for="twitter" class="input-label"> Twitter</label>
            <input name="twitter" type="text" class="input-field" required>
        </div>
        <div class="input-group">
            <label for="skills_description" class="input-label"> Describe your skillset</label>
            <input name="skills_description" type="text" class="input-field" required>
        </div>
        <div class="input-group">
            <label for="skills" class="input-label"> List your skills</label>
            <input name="skills" type="text" class="input-field" placeholder="Separate each skill with a comma"
                required>
        </div>

        <input type="submit" class="btn-dark" value="Update">
    </form>
</main>